.b{
background-color: aqua;
} 

.f{
    /* font-weight: bold; */
    text-decoration: none;
    
}
.ff{
    text-decoration: none;
    color: black;
}
.ff1{
border: 2px solid black;
text-decoration: none;
    color: black;
    background-color: antiquewhite;
    border-radius:5px ;
    font-weight: bold;
    text-align: center;
    padding: 7px;

}
